<% form_tag project_walkthroughs_path(@project), :method => "get" do %>
	<strong>Please add the search parameters that you will like to use:</strong>
	<BR>
	<BR>
	<table>		
		<tbody>		
			<tr>
				<td>Issue ID:</td>
				<td><%= text_field_tag :search_issue_id, params[:search_issue_id] %></td>
				<td>Owner:</td>
				<td><%= text_field_tag :search_owner, params[:search_owner] %></td>
			</tr>
			<tr>
				<td>Description:</td>
				<td><%= text_field_tag :search_description, params[:search_description] %></td>
				<td>Severity:</td>
				<td><%= select_tag :search_severity, options_for_select([["", ""]] + severity_array, params[:search_severity]) %></td>
			</tr>
			<tr>
				<td>URL:</td>
				<td><%= text_field_tag :search_url, params[:search_url] %></td>
				<td>Resolved:</td>
				<td><%= select_tag :search_resolved, options_for_select([["", nil], ["Yes", true], ["No", false]], (params[:search_resolved].nil? || params[:search_resolved].blank?) ? "Yes" : params[:search_resolved].to_b) %></td>
			</tr>
			<tr>
				<td colspan="4" align="center">
					<%= submit_tag "Search", :name => nil%>
					&nbsp; 
					<input type="reset" value="Reset">
				</td>			
			</tr>
		</tbody>
	</table>
<% end %>
