<% title "About Online PQA" %>

<h2><%=h(yield :title)%></h2>
<br />
<p class="about_text">
	Online PQA is the effort of Isthmus team to give added value to TSYS
	by migrating the excel PQA document to an online application.
</p>

<div style="text-align: center">
	<%= link_to image_tag('isthmus.gif', :border => 0), 'http://www.isthmusit.com', :popup => true -%>
</div>

<p>
	<h4>People Involved in this project:</h4>
	<ul>
		<li>Developer 			=> Eugenia Arguedas Colom (<%= mail_to "earguedas@tsys.com", "earguedas@tsys.com" %>)</li>
		<li>Developer 			=> Daniel Blanco Rojas (<%= mail_to "dblanco@tsys.com", "dblanco@tsys.com" %>)</li>
		<li>Developer 		  => Angel Montenegro Jimenez (<%= mail_to "amontenegro@tsys.com", "amontenegro@tsys.com" %>)</li>
		<li>Put your name in here if you apport something to this project... =)</li>
	</ul>
</p>
