<% title "Show Deployment Entry" %>

<h2><%=h(yield :title)%></h2>

<%= flash_messages %>

<br/>

<div class="show-div">
  <table align="left" border="0" cellpadding="3" cellspacing="3">
    <%
    [["File", @deployment.file],
     ["File Type", @deployment.file_type],
     ["Action", @deployment.action]].each do |row| %>
      <tr>
        <th><%= h row[0] %></th>
        <td><%= wordwrap h row[1] %></td>
      </tr>
    <% end %>
    <tr>
      <th>Environment Specific</th>
      <td><%= status_icon(@deployment.environment_specific) %></td>
    </tr>
    <tr>
      <td colspan="2">
        <%= link_to "Delete", [@project, @deployment], :confirm => 'Are you sure?', :method => :delete %>
        |
        <%= link_to "Edit", edit_project_deployment_path(@project, @deployment) %>
        |
        <%= link_to 'View All', project_deployments_path(@project) %>
      </td>
    </tr>
  </table>
</div>
