<% title "Show Unit Test" %>

<h2><%= h yield(:title) %></h2>

<div class="show-div">
  <%= flash_messages %>

  <br/>

  <table border="0" cellpadding="3" cellspacing="3">
    <%
    [["FSD Usecase ID", @utest.fsd_usecase_id],
      ["Module", @utest.module],
      ["Description", @utest.description],
      ["Result", @utest.result],
      ["Pass brands", @utest.pass_brands],
      ["Fail brands", @utest.fail_brands],
      ["Notes", @utest.notes]].each do |row| %>
      <tr>
        <th width="10%" style="white-space: nowrap"><%= h row[0] %></th>
        <td width="90%"><%= wordwrap h(row[1]) %></td>
      </tr>
    <% end %>
    <tr>
      <td colspan="2">
        <%= link_to "Delete", [@project, @utest], :confirm => 'Are you sure?', :method => :delete %>
        |
        <%= link_to "Edit", edit_project_unit_test_path(@project, @utest) %>
        |
        <%= link_to 'View All', project_unit_tests_path(@project) %>
      </td>
    </tr>
  </table>
</div>

